.UserList {
	padding: 1.25rem;
}

.UserListItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 0.625rem;
}
